apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: flipop
  name: flipop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flipop
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: flipop
    spec:
      containers:
      - env:
        - name: DIGITALOCEAN_ACCESS_TOKEN
          valueFrom:
            secretKeyRef:
              key: DIGITALOCEAN_ACCESS_TOKEN
              name: flipop
        image: digitaloceanappsail/flipop:latest
        imagePullPolicy: Always
        name: flipop
        resources: {}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      serviceAccount: flipop
      serviceAccountName: flipop
      terminationGracePeriodSeconds: 30
